*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.background-image{
    background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('5.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
}
header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: #04060652;
}
.menu_bar{
    width: 100%;
    height: 80%;
    margin-left: 50px;
    display: flex;
    align-items: center;
}
.menu_bar ul {
    display: inline-flex;
    list-style: none;
}
.menu_bar ul li{
    margin-left: 25px;
    padding: 7px;
}
.menu_bar ul li a{
    text-decoration:none;
    color: aliceblue;
    transition: 0.4s;
    font-family: Arial;
    font-weight: bold;
}
.active, .menu_bar ul li:hover{
    background:rgba(131, 170, 210, 0.3);
    border-radius: 3px;
    transition: 0.5s;
} 
.logo{
    width: 70px;
    height: 55px;
    margin-left: 4px;
    margin-top: -5px;
    border-radius: 20px;
}
.logo_name{
    font-size:20px;
    font-style:oblique;
    margin-left: 75px;
    margin-top: -55px;
    color:rgba(147, 180, 199, .6);
}
.description{
    position: absolute;
    width: 90%;
    height: 85%;
    margin-top: 15px;
    margin-left: 60px;
    background:rgba(0, 0, 0, 0.5);
    border-radius: 25px;
}
.space{
    position: absolute;
    width: 45%;
    height: 92%;
    margin-top: 20px;
    margin-left: 316px;
    background:rgba(113, 209, 254, 0.6);
    border-radius: 10px;
}
.titre{
    position: absolute;
    color:rgb(25, 28, 116);
    margin-left: 124px;
    margin-top: 10px;
    font-size: 30px;
    letter-spacing: 2px;
}
.text{
    position: absolute;
    margin-top: 55px;
    padding-left: 10px;
    padding-right: 10px;
    color:rgb(0, 0, 0);
    font-size:18.2px ;
    text-align: justify;
}
button{
    position: absolute;
    margin-top: 442px;
    background:none;
    border-radius: 20px;
    border-color:rgb(25, 28, 116);
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom:5px ;
    transition: 0.3s;
}
button a{
    text-decoration:none;
    color:rgb(25, 28, 116);
    font-family: Arial;
    font-weight: bold;
    transition: 0.3s;
}
button:hover{
    box-shadow: 0px 1px 10px black;
    opacity: 0.8;
    border-color:#ffffff;
}
.reservation{
    margin-left: 410px;
    width: 100px;
}
.Back{
    margin-left: 335px;
    width: 65px;
}
.Place{
    position: absolute;
    width: 180px;
    height: 170px;
    border-radius: 50%;
    background-size: cover;
}
.Place1{ 
    margin-top: 12px;
    margin-left: 10px;
    background-image: url(./Place1.1.jpg);
    background-position:-20px;
}
.Place2{
    margin-top: 175px;
    margin-left:90px;
    background-image: url(./Place2.1.jpg);
    background-position:-30px ;
}
.Place3{
    margin-top: 337px;
    margin-left:10px;
    background-image: url(./Place3.1.jpg);
    background-position:-28px;
}
.Place4{
    margin-top: 12px;
    margin-left:962px;
    background-image: url(./Place4.1.jpg);
    background-position:-10px;
}
.Place5{
    margin-top: 175px;
    margin-left:881px;
    background-image: url(./Place5.1.jpg);
    background-position:-10px;
}
.Place6{
    margin-top: 337px;
    margin-left:962px;
    background-image: url(./Place6.1.jpg);
    background-position:-35px;
}

